body {
  overflow: hidden; /* Hide scrollbars */
}

.Container {
  width: 88.6% !important;
  height: 100%;
  padding-top: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  float: right;
}

/* .ui.fluid.container {
  margin-left: 0 !important;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
