.userProfilePage {
  margin-bottom: 200px !important;
}

.theRow {
  padding-bottom: 25px !important;
}

.changePhoto {
  position: relative;
  left: 4.5em;
  top: 10px;
  padding-bottom: 10px;
}

.profileList {
  padding-top: 45px;
}