.Grid {
  height: 100%;
  width: 10%;
  float: left;
  padding: 0;
  margin: 0 !important;

  .Column {
    padding: 0 !important;
    height: 100%;

    .Menu {
      height: 100%;
      margin: 0;
      border-radius: 0px !important;
      position: fixed;
      z-index: 2;
    }
  }
}